version: 2.1
parameters:
  run_workflow_setup:
    default: true
    type: boolean
# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the continuation orb is required in order to use dynamic configuration
orbs:
  continuation: circleci/continuation@0.1.2

# our defined job, and its steps
jobs:
  setup:
    executor: continuation/default
    steps:
      - checkout # checkout code
      - run: # run a command
          name: Generate config
          command: |
           # ensures jinja2 is accessible
            pip install jinja2-cli[yaml]
                      
            for f in build/*.yml; do
              name=$(basename $f .yml)
              VERSION=$(git log -1 --date=format:'%Y%m%d' --pretty="format:%cd" $f)
              mv build/${name}.xml ./
              jinja2 src/ipset.spec.j2 ${f} -D version=${VERSION} --outfile=firewalld-ipset-${name}.spec
            done        
            cat *.spec
            curl "https://raw.githubusercontent.com/GetPageSpeed/buildstrap/main/generated_config.yml" -o .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml # use newly generated config to continue

# our single workflow, that triggers the setup job defined above
workflows:
  setup:
    when: << pipeline.parameters.run_workflow_setup >>
    jobs:
      - setup