name: CI

on:
  # Compare the preceeding commit of main -> to the current commit of the main branch.
  # (Note: To compare changes between the last pushed commit to the remote main branch set `since_last_remote_commit: true`)
  push:
    branches:
      - main
  # Compare the last commit of main -> to the current commit of a PR branch.
  # (Note: To compare changes between the last pushed commit to the remote PR branch set `since_last_remote_commit: true`)
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest  # windows-latest | macos-latest
    name: Generate spec files
    steps:
      - uses: actions/checkout@v3

      - run: |
          # ensures jinja2 is accessible
          pip install jinja2-cli[yaml]
                    
          for f in build/*.yml; do
            name=$(basename $f .yml)
            VERSION=$(git log -1 --date=format:'%Y%m%d' --pretty="format:%cd" $f)
            mv build/${name}.xml ./
            jinja2 src/ipset.spec.j2 ${f} -D version=${VERSION} --outfile=firewalld-ipset-${name}.spec
          done
          
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git stash
          git switch -c specs 
          git pull
          git stash pop
          
          git commit -m "Up"
          git push --set-upstream origin specs
          
          cat firewalld-ipset-braintree.spec