name: CI

on:
  # Compare the preceeding commit of main -> to the current commit of the main branch.
  # (Note: To compare changes between the last pushed commit to the remote main branch set `since_last_remote_commit: true`)
  push:
    branches:
      - main
  # Compare the last commit of main -> to the current commit of a PR branch.
  # (Note: To compare changes between the last pushed commit to the remote PR branch set `since_last_remote_commit: true`)
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest  # windows-latest | macos-latest
    name: Generate spec files
    steps:
      - uses: actions/checkout@v3

      - run: |
          # ensures jinja2 is accessible
          pip install jinja2-cli[yaml]
          
          mv build/*.xml ./
          mv build/*.yml ./
          
          for f in *.yml; do
            name=$(basename $f .yml)
            jinja2 src/ipset.spec.j2 ${name}.yml --outfile=firewalld-ipset-${name}.spec
          done